<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/login.css">
    <title>{{.Title}}</title>
</head>
<body>
<script type="text/javascript" src="js/login.js"></script>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/regularsignup" method="POST">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="/googlesignup" class="social"><i class="fab fa-google"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="email" name="email" placeholder="Email" required />
            <input id="password" name="pwd" type="password" placeholder="Password" required />
            <input id="confirmPwd" type="password" placeholder="Confirm Password" required oninput="confirmPassword()" />
            <p id="confirmMsg" style="color: red;"></p>
            <button id="signupBtn" disabled>Sign Up</button>
        </form>
    </div>


    <div class="form-container sign-in-container">
        <form action="/regularlogin" method="POST">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="/googlelogin" class="social"><i class="fab fa-google"></i></a>
            </div>
            <span>or use your account</span>
            <input name="email" type="email" placeholder="Email" required />
            <input name="pwd" type="password" placeholder="Password" required />
            <p style="color: red;">{{.Message}}</p>
            <a href="/forgotpwd">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>